280NPLIST;1.0;D;K;18;CPBundleIdentifierS;33;org.archipelproject.itunestabviewK;29;CPBundleInfoDictionaryVersiond;1;6K;12;CPBundleNameS;13;iTunesTabViewK;19;CPBundlePackageTypeS;4;FMWKK;15;CPBundleVersionS;3;1.0K;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;16;iTunesTabView.sjK;36;CPBundleEnvironmentsWithImageSpritesA;S;7;BrowserE;E;